#social-media #social-buttons {
	margin-left: 20px;
}

#twitter-stream h2 {
	margin-left: 20px;	
	margin-bottom: 20px;
	background-color: #8F001A;
}

#twitter-stream a {
	margin-left: 20px;
	padding-left: 12px;
	text-decoration: none;
	color: #8F001A;
	background: url(../images/arrow_sans_right_garnet.png) no-repeat;
	background-position: 0 .2em;
}

#twitter-stream a:hover {
	color: #434343;
}