/**
 * GlobalSearch-ie7.css
 * module globalSearch
 * IE7 fixes
 */

#main-banner #global-site-search {
	width: 206px;
	right: 10px;
	top: 9px;
}
#main-banner #global-site-search #global-site-search-submit {
	top: 1px;
	font-size: 0;
	line-height: 0;
}
#main-banner #global-site-search #global-site-search-hint {
	left: -1px;
	top: -20px;
}