/**
 * $id$
 * @file  banner.css
 * module: uOttawaBanner
 * Control the main uOttawa Banner
 */

/**
 * Note: main-banner is defined in global css
 */

/**
 * main-branding
 * An <img> tah has been placed in the content to provide
 * uOttawa logo for
 * - print
 * - search engine
 * This image is hidden in the css and replaced by
 * another img
 */

#main-branding
{
	width: 570px;
	margin: 0;
}

#main-branding-logo a, #main-branding-logo a:visited
{
	position: absolute;
	display: block;
	background: url(../img/uOlogo-sprite-png24.png) no-repeat;
	top: 22px;
	left: 10px;
	width: 153px;
	height: 41px;
	outline: none;
}

#main-branding-logo a:hover, #main-banner #main-branding-logo a:active { background-position: 0px -44px; }
#main-branding-logo img { display: none; }

/**
 * main-branding-tagline
 */

#main-banner #main-branding #main-branding-tagline
{
	position: absolute;
	top: 21px;
	left: 185px;
	height: 44px;
	background-image: url(../img/uOlogo-sprite-png24.png);
	background-repeat: no-repeat;
}

.fr #main-banner #main-branding #main-branding-tagline
{
	background-position: -173px -88px;
	width: 140px;
}

.en #main-banner #main-branding #main-branding-tagline
{
	background-position: -173px 0px;
	width: 145px;
}